<div id="myCarousel" class="carousel klear">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active" style="background-image: img/general/homepage/banner/1.jpg">
            <img src="img/general/homepage/banner/bannel_1.jpg">
        </div>
        <div class="item" style="background-image: img/general/homepage/banner/2.jpg">
            <img src="img/general/homepage/banner/bannel_2.jpg">
        </div>
        <div class="item" style="background-image: img/general/homepage/banner/3.jpg">
            <img src="img/general/homepage/banner/bannel_3.jpg">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" style="height: 330px" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" style="height: 330px" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
</div>
<div id="jd" class="module mid">
    <div class="fl" >
        <h3><span>金豆荚</span>作为您的私人理财助手</h3>
        <h3>点点滴滴为你的人生汇集<span style="color: red">财富</span></h3>
        <br>
        <p>荚里有金豆，月月不月光，金豆荚您的私人理财助手；</p>
        <p>享有金豆荚，人生不打折，金豆荚您的私人理财助手；</p>
    </div>
    <img src="img/general/homepage/douzi.jpg">
</div>
<div id="board" class="module mid">
    <div id="notice" class="content link fl">
        <img src="img/general/notice/zhanwei1.png">
    </div>
    <div id="news" class="content link fr">
        <img src="img/general/notice/zhanwei2.png">
    </div>
</div>

<div id="download">
    <div id="download-con">
        <p id="down-1">下载手机客户端<span id="download-close"></span></p>

        <p id="down-2"><img src="img/general/homepage/download/1.png" alt="艺岳" title="艺岳"></p>

        <div id="down-3">
            <div id="down-l">
                <p><a href="#" target="_blank"><img src="img/general/homepage/download/appstore.png"></a></p>

                <!--<p class="down-txt">App Store</p>-->
            </div>
            <div id="down-r">
                <p id="android"><a href="#" target="_blank"><img src="img/general/homepage/download/android.png"></a></p>

                <!--<p class="down-txt">Android</p>-->
            </div>
        </div>
    </div>
</div>