<div id="myCarousel" class="carousel klear">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active" style="background-image: url(img/general/homepage/banner/1.jpg)">
            <img src="img/general/homepage/banner/bannel_1.jpg">
        </div>
        <div class="item" style="background-image: url(img/general/homepage/banner/2.jpg)">
            <img src="img/general/homepage/banner/bannel_2.jpg">
        </div>
        <div class="item" style="background-image: url(img/general/homepage/banner/3.jpg)">
            <img src="img/general/homepage/banner/bannel_3.jpg">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" style="height: 330px" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" style="height: 330px" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
</div>
<div id="jd" class="module mid">
    <div class="fl" >
        <h3><span>金豆荚</span>作为您的私人理财助手</h3>
        <h3>点点滴滴为你的人生汇集<span style="color: red">财富</span></h3>
        <br>
        <p>荚里有金豆，月月不月光，金豆荚您的私人理财助手；</p>
        <p>享有金豆荚，人生不打折，金豆荚您的私人理财助手；</p>
    </div>
    <img src="img/general/homepage/douzi.jpg">
</div>
<div id="board" class="module mid">
    <div style="float:left">
        <p><span style="float:left">最新动态：</span><span style="float: right">查看更多</span></p>
        <br>
        <ul>
            <li><div>美军F-22联队C-17赴珠海参演 编码暗藏玄机</div><span>2014-11-20</span></li>
            <li><div>港媒：歼20原型机将进入量产 中国研发能力超俄</div><span>2014-10-30</span></li>
            <li><div>人民日报：中国气派的外交得有底气有骨气有大气</div><span>2014-09-20</span></li>
            <li><div>王洪光：中朝各有利益 不存在“放弃朝鲜”的问题</div><span>2014-09-15</span></li>
            <li><div>俄罗斯国家歌舞团将来华演出 纪念二战胜利70周年</div><span>2014-08-01</span></li>
        </ul>
    </div>
    <div style="float:right">
        <p><span style="float:left">最新动态：</span><span style="float: right">查看更多</span></p>
        <br>
        <ul>
            <li><div>美军F-22联队C-17赴珠海参演 编码暗藏玄机</div><span>2014-11-20</span></li>
            <li><div>港媒：歼20原型机将进入量产 中国研发能力超俄</div><span>2014-10-30</span></li>
            <li><div>人民日报：中国气派的外交得有底气有骨气有大气</div><span>2014-09-20</span></li>
            <li><div>王洪光：中朝各有利益 不存在“放弃朝鲜”的问题</div><span>2014-09-15</span></li>
            <li><div>俄罗斯国家歌舞团将来华演出 纪念二战胜利70周年</div><span>2014-08-01</span></li>
        </ul>
    </div>
</div>

<div id="download">
    <div id="download-con">
        <p id="down-1">下载手机客户端<span id="download-close"></span></p>

        <p id="down-2"><img src="img/general/homepage/download/1.png" alt="艺岳" title="艺岳"></p>

        <div id="down-3">
            <div id="down-l">
                <p><a href="#" target="_blank"><img src="img/general/homepage/download/appstore.png"></a></p>

                <!--<p class="down-txt">App Store</p>-->
            </div>
            <div id="down-r">
                <p id="android"><a href="#" target="_blank"><img src="img/general/homepage/download/android.png"></a></p>

                <!--<p class="down-txt">Android</p>-->
            </div>
        </div>
    </div>
</div>