<!-- picture arena start -->
<div class="bg">
    <img src="img/en_light/bg.jpg" class="bg_pic">
    <div class="img_line"></div>
</div>
<!-- picture arena end -->

<!-- content arena start -->
<div class="content_area">
    <!-- left nav bar start-->
    <div class="fl left_nav">
        <ul>
            <li class="nav_focus">
                <a>禅意人生</a>
            </li>
            <li class="nav_ease">
                <a>四季养生</a>
            </li>
            <li class="nav_ease"></li>
        </ul>
    </div>
    <!-- left nav bar end -->
    <!-- right main content arena start -->
    <div class="right_content">
        <div class="right_title">
            <h3>禅意人生</h3>
				<span class="location">
					<img src="img/addition/title_location.jpg">当前位置：&nbsp;首页&gt;&nbsp;参悟云居&gt;&nbsp;禅意人生</span>
            <hr />
        </div>
        <div class="para_group" id="group1">
            <ul>
                <li>
                    <div class="para_preview_box">
                        <img class="para_preview_pic" src="img/en_light/preview_1.jpg" />
                        <div class="para_preview_text">
                            <a href="./zen_enlightment_pages/zen_enlightment_detail1.html"><h4 class="preview_title">“今是”里有“昨非”</h4></a>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;徒弟去见师傅：“我终于悟了！觉得‘今是而昨非’，以前的几十年，我全错了，可以不用去想，只当那段日子根本不存在。” 　　“嗯！”师父说，“好极了，明天到山下的花店，买一把晚香玉回来，要走直路，不必绕路。” 　“但不绕路就得经过风化区。”...
                            </p>
                            <button class="view" onclick="javascrtpt:window.location.href='./zen_enlightment_pages/zen_enlightment_detail1.html'">查看详细</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="para_preview_box">
                        <img class="para_preview_pic" src="img/en_light/preview_2.jpg" />
                        <div class="para_preview_text">
                            <a href="./zen_enlightment_pages/zen_enlightment_detail2.html"><h4 class="preview_title">人生如茶,空杯以对</h4></a>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;唐末五代时期，群雄逐鹿，硝烟四起。闽王为了收服人心，祈求江山永固，也为了忏悔滥杀无辜的恶业，开始笃信佛教。他曾创下剃度两万人的壮举，并先后拜请雪峰义存、鼓山神晏、武夷扣冰诸大禅师出任国师，为其开示佛法，指点迷津。 　　公元928年的一天，闽...
                            </p>
                            <button class="view" onclick="javascrtpt:window.location.href='./zen_enlightment_pages/zen_enlightment_detail2.html'">查看详细</button>							</div>
                    </div>
                </li>
                <li>
                    <div class="para_preview_box">
                        <img class="para_preview_pic" src="img/en_light/preview_3.jpg" />
                        <div class="para_preview_text">
                            <a href="./zen_enlightment_pages/zen_enlightment_detail2.html"><h4 class="preview_title">妖艳于外,清静于心</h4></a>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一位年轻人热恋了4年的女友跟着一个商人跑了，感情遭到洗劫的年轻人痛不欲生，后来，终于不堪于感情的痛楚，选择在深山里一座寺院削发为僧，成了一名小沙弥。 　　那是一座香客盈门的寺院，为了接受香客们的布施，寺院的住持除了接受施主们的香火钱...
                            </p>
                            <button class="view" onclick="javascrtpt:window.location.href='./zen_enlightment_pages/zen_enlightment_detail3.html'">查看详细</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="para_preview_box">
                        <img class="para_preview_pic" src="img/en_light/preview_4.jpg" />
                        <div class="para_preview_text">
                            <a href="./zen_enlightment_pages/zen_enlightment_detail2.html"><h4 class="preview_title">人人都是缺角的杯子</h4></a>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有一天，徒弟问禅师：“世上真有完人吗？” 　　禅师笑而不答，随后从身旁的茶几上端起一只茶杯，递给面前的弟子，反问：“你看这只杯子与其它的有何不同？” 　　弟子仔细端详了一番，答道：“这只杯子缺了一角。” 　　听完后，禅...
                            </p>
                            <button class="view" onclick="javascrtpt:window.location.href='./zen_enlightment_pages/zen_enlightment_detail4.html'">查看详细</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="para_preview_box">
                        <img class="para_preview_pic" src="img/en_light/preview_5.jpg" />
                        <div class="para_preview_text">
                            <a href="./zen_enlightment_pages/zen_enlightment_detail2.html"><h4 class="preview_title">古鲁的三位老师</h4></a>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在印度，有一位德高望重的古鲁即将去世，一弟子向他求教：“先生，您的老师是谁？” 　　古鲁微闭双目，沉思片刻，缓缓答道：“在我的一生中，曾有过无数个老师。即使给我几个月甚至几年的时间，我也难以将他们一一说出来。不过，真正让我受益终生的，是...
                            </p>
                            <button class="view" onclick="javascrtpt:window.location.href='./zen_enlightment_pages/zen_enlightment_detail5.html'">查看详细</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="para_preview_box">
                        <img class="para_preview_pic" src="img/en_light/preview_6.jpg" />
                        <div class="para_preview_text">
                            <a href="./zen_enlightment_pages/zen_enlightment_detail2.html"><h4 class="preview_title">想一想,便圆满</h4></a>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有这样一个故事,一个杂技师走钢丝,钢丝悬于两幢8层楼高的建筑物之间,看上去摇摇欲坠。杂技师登场了,每走一步钢丝都会摇晃,吓得观众尖叫连连,但他走了过去。 　　杂技师洒脱地朝着观众挥手,接着他用一块黑布遮住眼睛,他问观众相不相信他能走过去?观...
                            </p>
                            <button class="view" onclick="javascrtpt:window.location.href='./zen_enlightment_pages/zen_enlightment_detail6.html'">查看详细</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="para_pages">
                <button>首页</button>
                <button>&lt;</button>
                <button>1</button>
                <button>2</button>
                <button>&gt;</button>
                <button>尾页</button>
            </div>
        </div>
    </div>
    <!-- right main content arena end-->
</div>
