<div ui-view="contactUs" class="klear module mid">
    <div class="left fl">
        <ul>
            <li class="divider">
            </li>
            <li>
                <div class="list_div">
                    <img class="contact_pic" src="img/general/pic/7.png">
                    <h4 class="text">公司地址：</h4>
                    <p class="text">上海市浦东南路2111号</p>
                </div>
            </li>
            <li class="divider">
            </li>
            <li >
                <div class="list_div">
                    <img class="contact_pic" src="img/general/pic/7.png">
                    <h4 class="text">联系我们：</h4>
                    <p class="text">上海市浦东南路2111号</p>
                </div>
            </li>
            <li class="divider">
            </li>
            <li>
                <div class="list_div">
                    <img class="contact_pic" src="img/general/pic/7.png">
                    <h4 class="text">客服支持：</h4>
                    <p class="text">上海市浦东南路2111号</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="right fr">
        <img class="map_pic" src="img/general/pic/8.png">
    </div>

</div>