<div ui-view="footer">
    <div id="footer" class="footer">
        <div id="footer_top" class="klear module mid">
            <div id="ft-left" class="fl">
                <span class="span font-normal"><a href="/about/about1.htm" rel="nofollow">关于我们</a></span>
                <span class="font-normal span"><a href="/else/newbieGuide.htm" rel="nofollow">新手引导</a></span>
                <span class="font-normal span"><a href="/help/help-center1.htm" rel="nofollow">帮助中心</a></span>
                <span class="font-normal span"><a href="/about/about3.htm" rel="nofollow">合作伙伴</a></span>
                <span class="font-normal span"><a href="/else/safetyGuarantee.htm"rel="nofollow">安全保障</a></span>
                <span class="font-normal span"><a href="/else/joinUs.htm" rel="nofollow">加入我们</a></span>
                <span class="font-normal span"><a href="/else/contactUs.htm" rel="nofollow">联系我们</a></span>
            </div>
            <div id="ft-right" class="fr">
                <p id="f_mail" class="font_normal">客服邮箱：kefu@sunlights.cc<br> 客服热线（工作日 9:00-21:00)</p>
            </div>
        </div>
        <div id="footer_middle" class="klear module mid">
            <div id="fm-left" class="fl">
                <span><a href="" rel="nofollow" target="_blank"><img src="img/general/pic/7.png" alt="" title=""></a></span>
                <span><a href="" rel="nofollow" target="_blank"><img src="img/general/pic/8.png" alt="" title=""></a></span>
                <span><a href="" rel="nofollow" target="_blank"><img src="img/general/pic/9.png" alt="" title=""></a></span>
                <span><a href="" rel="nofollow" target="_blank"><img src="img/general/pic/10.png" alt="" title=""></a></span>
                <span><a href="" rel="nofollow" target="_blank"><img src="img/general/pic/11.png" alt="" title=""></a></span>
            </div>
            <div id="fm-right" class="fr">
                <span id="weibo" class="icon-sprite icon-i-2 topicon"></span>
                <span id="weixin" class="icon-sprite icon-i-3 topicon"></span>
                <span id="qq" class="icon-sprite icon-i-4 topicon"></span>
                <span class="font_call">400-888-8888</span>
            </div>
        </div>
        <div id="footer_bottom" class="klear mid">
            <p class="fb" style="color: white"><span class="font_number">2014 Shanghai YiYue Investment Management Co., Ltd. All Rights Reserved.
                            沪ICP备13015820号-1</span>
            </p>
        </div>
    </div>
</div>
