<div id="footer">
    <div id="footer_top">
        <span><a href="/about/about1.htm" rel="nofollow">关于我们</a></span>
        <span><a href="/else/newbieGuide.htm" rel="nofollow">新手引导</a></span>
        <span><a href="/help/help-center1.htm" rel="nofollow">帮助中心</a></span>
        <span><a href="/about/about3.htm" rel="nofollow">合作伙伴</a></span>
        <span><a href="/else/safetyGuarantee.htm" rel="nofollow">安全保障</a></span>
        <span><a href="/else/joinUs.htm" rel="nofollow">加入我们</a></span>
        <span><a href="/else/contactUs.htm" rel="nofollow">联系我们</a></span>

        <div class="row_r">
            <p id="f_mail">客服邮箱：kefu@sunlights.cc</p>
            <p id="f_callNo">客服热线（工作日 9:00-21:00）</p>
        </div>
    </div>
    <div id="footer_middle">
        <span><a href="" rel="nofollow" target="_blank"><img src="" alt="" title=""></a></span>
        <span><a href="" rel="nofollow" target="_blank"><img src="" alt="" title=""></a></span>
        <span><a href="" rel="nofollow" target="_blank"><img src="" alt="" title=""></a></span>
        <span><a href="" rel="nofollow" target="_blank"><img src="" alt="" title=""></a></span>
        <span><a href="" rel="nofollow" target="_blank"><img src="" alt="" title=""></a></span>

        <div class="row_r">
            <span id="weibo" class="icon-sprite icon-i-2 topicon"></span>
            <span id="weixin" class="icon-sprite icon-i-3 topicon"></span>
            <span id="qq" class="icon-sprite icon-i-4 topicon"></span>

            <p id="callNo">400-888-8888</p>
        </div>
    </div>

    <div id="footer_bottom">
        <p>2014 Shanghai YiYue Investment Management Co., Ltd. All Rights Reserved. 沪ICP备13015820号-1</p>
    </div>
</div>