<div class="footer">
    <div id="footer_top" class="klear module mid">
        <div id="ft-left">
            <span class="span"><a href="#!/about/introduction" rel="nofollow">关于我们</a></span>
            <span class="font-normal span"><a href="#!/newer" rel="nofollow">|&nbsp新手引导</a></span>
            <span class="font-normal span"><a href="" rel="nofollow">|&nbsp帮助中心</a></span>
            <span class="font-normal span"><a href="" rel="nofollow">|&nbsp合作伙伴</a></span>
            <span class="font-normal span"><a href="" rel="nofollow">|&nbsp安全保障</a></span>
            <span class="font-normal span"><a href="#!/about/join" rel="nofollow">|&nbsp加入我们</a></span>
            <span class="font-normal span"><a href="#!/about/contact" rel="nofollow">|&nbsp联系我们</a></span>
        </div>
        <div id="ft-right">
            <p>客服邮箱：services@sunlights.me<br> 客服热线（工作日 9:00-21:00)</p>
        </div>
    </div>
    <div id="footer_middle" class="module mid">
        <div id="fm-left" class="fl">
            <img src="img/general/shared/15.png">
        </div>
        <div id="fm-right" class="fr">
            <img src="img/general/shared/18.png">
            <span class="red" style="font-size: 36px">400-728-0153</span>
        </div>
    </div>
    <div class="mid" id="footer">
        <p>
            <span>2014 Shanghai YiYue Investment Management Co., Ltd. All Rights Reserved.沪ICP备13015820号-1</span>
        </p>
    </div>
</div>