<div class="mid module">
    <a href="#!/" style="float:left">
        <img src="img/general/shared/logo/logo.png" alt="金豆荚" title="金豆荚">
    </a>
</div>
<div class="mid module" id="header">
    <div>
        <ul class="nav navbar-nav" id="nav" role="navigation">
            <li ui-sref-active="active">
                <a ui-sref="home">首页</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="newer">新手引导</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="introduction">关于我们</a>
            </li>
        </ul>
    </div>
    <div class="fr">
        <p><a href="#"><img src="img/general/homepage/contact/server.png"></a>
            &nbsp;客服热线<br>
            <span>400-728-0153</span>
        </p>
    </div>
</div>
<div class="_divider"></div>