<div class=" module mid">
    <div class="mid" id="logo">
        <a href="#!/">
            <img src="img/general/shared/logo/logo.png" alt="金豆荚" title="金豆荚">
        </a>
    </div>
    <div id="header">
        <div id="nav">
            <span ui-sref-active="active" class="bt">
                 <a ui-sref="home">首页</a>
            </span>
            <span ui-sref-active="active" class="bt">
                 <a ui-sref="newer">新手引导</a>
            </span>
            <span ui-sref-active="active" class="bt" id="about">
                 <a ui-sref="introduction">关于我们</a>
            </span>
            <span id="fr">
               <p><a href="#"><img src="img/general/homepage/contact/server.png"></a>
                   &nbsp;客服热线<br>
                   <span>400-728-0153</span>
               </p>
            </span>
        </div>
    </div>
</div>
<div class="_divider"></div>