<div id="slider">
    <ul class="slider-img" id="banner">
        <li style="background:url(/imagesnew/banner/1.jpg) no-repeat center 0;background-color:#fff;"><a
                href="#" target="_blank"><img src="/imagesnew/banner/1.jpg" alt=""></a></li>
        <li style="background:url(/imagesnew/banner/2.jpg) no-repeat center 0;background-color:#fff;"><a
                href="/else/banner2.htm" target="_blank"><img src="/imagesnew/banner/2.jpg" alt=""></a></li>
        <li style="background:url(/imagesnew/banner/3.jpg) no-repeat center 0;background-color:#fff;"><a
                href="/else/banner3.htm" target="_blank"><img src="/imagesnew/banner/3.jpg" alt=""></a></li>
        <li style="background:url(/imagesnew/banner/4.jpg) no-repeat center 0;background-color:#fff;"><a
                href="/else/download.htm" target="_blank"><img src="/imagesnew/banner/4.jpg" alt=""></a></li>
    </ul>
</div>
<div id="Jin_Dou">
    <p>jindou</p>
</div>
<div id="board">
    <div id="notice" class="content link">

    </div>
    <div id="news" class="content link">

    </div>
</div>