<div ui-view="introduction">
    <div id="introduction" class="module mid" style="padding-top: 12%">
        <div id="introduction_pic"class="fl">
            <img src="img/general/logo/logo.png">
        </div>
        <div id="introduction_text" class="fl">
            <p>盈盈理财 是国内领先的最早从事基于互联网技术的金融信息撮合交易服务的平台。</p>
            <p>2013年7月份盈盈理财推出首个版本手机交易客户端，从货币基金等标准化产品切入培育用户，当年注册用户数超过百万。</p>
            <p>2014年，盈盈理财针对中小企业融资现状推出P2B/P2P投融资服务模式，为大众投资者和急需资金的中小企业及个人，打造一个安全、稳定、高流动性的网络投融资平台。</p>
            <p>盈盈理财合作伙伴包括经过评估和筛选的担保公司、小贷公司、第三方仓储监管公司、保险理财公司和第三方商业保理机构等各类金融和资产管理机构，为众多信用良好的优质中小企业及个人提供了全新的融资渠道以及发展帮助。
                盈盈理财创始人和核心管理团队均来自于全球知名的第三方支付平台、银行、投资和风险管理机构，凭借团队及合作伙伴在互联网及金融领域的权威性和丰富经验积累，正在为越来越多的投资人提供了良好的产品服务体验和收益回报。</p>
        </div>

    </div>
</div>