<div id="download">
    <div id="download-con">
        <p id="down-1">下载手机客户端<span id="download-close">×</span></p>

        <p id="down-2"><img src="http://i.yingyinglicai.com/frontweb/theme/imagesnew/5.png" alt="艺岳" title="艺岳"></p>

        <div id="down-3">
            <div id="down-l">
                <p><a href="https://itunes.apple.com/cn/app/id660009164?mt=8" target="_blank"></a></p>

                <p class="down-txt">App Store</p>
            </div>
            <div id="down-r">
                <p id="android"><a href="#" target="_blank"></a></p>

                <p class="down-txt">Android</p>
            </div>
        </div>
    </div>
</div>