<div class="back" >
    <div class="mid" id="back" >
        <h2>什么是金豆荚？</h2>
        <br>
        <p>
            金豆荚是一个基于互联网技术的金融服务，个人理财和信息交换的平台。
            2015年1月，我们将隆重推出智能手机版个人理财软件，为用户提供货币基金，定期理财等不同类型的理财产品。
            金豆荚的核心团队成员均来自于知名的互联网科技公司，银行金融机构，财富管理公司和风险管理机构。
            凭借团队和合作伙伴在互联网和金融的丰富经验，金豆荚将为更多的投资人和融资方提供良好的产品服务和利益回报。
        </p>
    </div>
    <div class="mid" id="img_guide">
        <img src="img/general/newer/back/3.jpg" alt="引导示意图">
    </div>
</div>
<div class="mid" id="newer">
    <h2 >如何使用金豆荚</h2>
    <img src="img/general/newer/19.png">
    <!--<p style="padding-top: 40px">立即下载手机客户端</p>-->
    <!--<img src="img/general/newer/yingdao_appstore.png">-->
</div>