<div class="back" >
    <div class="mid" id="back" >
        <h2>什么是金豆荚？</h2>
        <br>
        <p>金豆荚成立于2014年4月，致力为广大投资人提供低门槛、易于理解、操作简便、安全高效、收益稳定可观的理财产品和投资渠道，
            是国内领先的基于先进互联网技术和严格风险控制管理体系的金融信息服务及撮合交易平台。
        </p>
    </div>
    <div class="mid" id="img_guide">
        <img src="../../../../img/general/newer/back/3.jpg" alt="引导示意图">
    </div>
</div>
<div class="mid" id="newer">
    <h2 >如何使用金豆荚</h2>
    <img src="../../../../img/general/newer/19.png">
    <p style="padding-top: 40px">立即下载手机客户端</p>
    <img src="../../../../img/general/newer/yingdao_appstore.png">
</div>