.font_large {
  font-size: 18pt;
  font-family: "Microsoft YaHei", "MicrosoftJhengHei";
}

.font_number {
  font-size: 6pt;
  font-family: "Arial";
}

.font_call {
  font-size: 36pt;
  font-family: "Arial";
}

.font_h{
  font-family: STHeiti;
  font-size: 16pt;
}



