<div class="part module mid">
    <div class="left fl">
        <div class="list_div">
            <img class="contact_pic" src="../../../../img/general/red/red_1.png">
            <h4 class="text">公司地址：</h4>

            <p class="text">上海市浦东南路2111号</p>
        </div>
        <div class="list_div">
            <img class="contact_pic" src="../../../../img/general/red/red_2.png">
            <h4 class="text">联系我们：</h4>

            <p class="text">上海市浦东南路2111号</p>
        </div>
        <div class="list_div">
            <img class="contact_pic" src="../../../../img/general/red/red_3.png">
            <h4 class="text">客服支持：</h4>

            <p class="text">上海市浦东南路2111号</p>
        </div>
    </div>
    <div class="right fr">
        <img class="map_pic" src="../../../../img/general/map/1.jpg">
    </div>

</div>