<div id="contact" class="module mid part">
    <div class="fl" id="contact_l">
        <div class="list_div fl">
            <div>
                <img src="img/general/about/contact/address.png">
            </div>
            <div>
                <h4>公司地址</h4>

                <p class="text"><a href="http://t.cn/Rz94Aer">上海市浦东新区银城中路68号</a></p>
                <p>&nbsp;时代金融中心29层</p>
            </div>

        </div>
        <div class="list_div fl">
            <div>
                <img src="img/general/about/contact/connect.png">
            </div>
            <div>
                <h4>联系我们</h4>

                <p>公司邮箱：<a href="mailto:services@sunlights.me">services@sunlights.me</a></p>
                <p>官方微博：<a href="http://t.cn/RzK7gYR">金豆荚理财</a></p>
                <p>官方微信：金豆荚</p>
            </div>
        </div>
        <div class="list_div fl">
            <div>
                <img src="img/general/about/contact/server.png">
            </div>
            <div>
                <h4>客服支持</h4>

                <p>客服热线 &nbsp;: 400&nbsp;728&nbsp;0153</p>
                <p>客服QQ&nbsp;: &nbsp;3075774554</p>
                <p>客服QQ群&nbsp;: &nbsp;199197331(理财群1)</p>
            </div>
        </div>
        <img src="img/general/shared/ma/weixin.jpg">
    </div>
    <div class="fr" id="contact_r">
        <img src="img/general/about/map/map1.jpg">
    </div>
</div>