<div class="module mid part"id="introduction">
    <div class="fl">
        <img src="img/general/shared/logo/logo_160.png">
    </div>
    <div class="fl">
        <p><span style="font-size: 30px;font-weight: 800;">金豆荚</span>&nbsp;是从事基于互联网技术的金融服务和信息交换平台。2015年1月份金豆荚推出手机版客户交易软件，将为用户提供货币基金等不同类型的理财产品；金豆荚创始人和核心团队成员均来自于全球著名的银行金融机构、财富管理公司、投行和风险管理机构，凭借团队和合作伙伴在互联网和金融的权威以及丰富经验，我们将为更多的投资人和融资方提供良好的产品服务和利益回报。</p>
    </div>
</div>

<div id="download" >
    <div id="download-con">
        <p id="down-1">下载手机客户端<span id="download-close"></span></p>

        <p id="down-2"><img src="img/general/homepage/download/1.png" alt="艺岳" title="艺岳"></p>

        <div id="down-3">
            <div id="down-l">
                <p><a href="#" target="_blank"><img src="img/general/homepage/download/appstore.png"></a></p>

                <!--<p class="down-txt">App Store</p>-->
            </div>
            <div id="down-r">
                <p id="android"><a href="#" target="_blank"><img src="img/general/homepage/download/android.png"></a></p>

                <!--<p class="down-txt">Android</p>-->
            </div>
        </div>
    </div>
</div>
<div style="height: 160px"></div>