
/* guider start */
#guider{
  width: 1000px;
  height:60px;
}

#nav1{
  background-color: #ecf1ef;
  width: 1000px;
  font-color: #000;
  font-size: 12pt;
  font-weight: 900;
}
/* guider end */

/* certification start */

#cer{
  border: 1px solid #696969;
  margin-bottom: 46px;
  text-align: center;
  height: 1632px;
}

#cer >div{
  height: 544px;
}

/* certification end */


/*introduction related*/
#introduction{
  height: 350px;
  border:1px solid #696969;
}

#introduction >div>img{
  margin-left: 90px;
  margin-top: 90px;
  width: 150px;
}

#introduction >div >p{
  margin-left: 30px;
  margin-top: 120px;
  font-weight: 600;
  width: 700px;
}

/* end */

/* contact start */
#contact{
  border: 1px solid #696969;
  height: 670px;
}

#contact_l{
  width: 480px;
}

#contact_r{
  margin-right: 80px;
}

#contact >div {
  margin-top: 80px;
}

.list_div{
  margin-top: 20px;
  margin-left: 70px;
  width: 400px;
}

.list_div >div{
  float: left;
}

.list_div >div >h4 {
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
}

.list_div >div >p {
  margin-left: 20px;
  font-weight: 600;
}
/* contact end */

/* join us start */
#join{
  display: table;
  height: 100%;
  border: 1px solid #696969;
  margin-bottom: 70px;
}

#join_l{
  margin-left: 54px;
  margin-top: 48px;
  width: 382px;
}

#join_l >h4{
  font-size: 25pt;
  font-weight: 800;
}

#join_l >p >span{
  font-weight: 600;
}

#join_l >p{
  font-weight: 400 ;
}

#accordion{
  margin-right: 46px;
  margin-top: 44px;
  width: 456px;
  margin-bottom: 200px;
}

/* join us end */

.back{
  background-repeat: repeat-x repeat-y ;
  background-image:url(../../../img/general/newer/back/8.jpg) ;
  height: 700px;
}

.part{
  height: 640px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

#back{
  height: 100px;
  padding-top: 30px;
  width: 820px;
  font-family: "Microsoft YaHei", "MicrosoftJhengHei", STHeiti, MingLiu;
}

