.guider{
  height: 40px;
  bottom: 0px;
  color: #000;
  background-color: #949494;
}

.select{
  width: 120px;
  bottom: 0px;
  color: #000;
  background-color: #FF4040;
}

.left{
  width: 480px;
  height: 520px;
}

.right{
  width: 480px;
  height: 520px;
}

#introduction_pic{
  width: 220px;
}
#introduction_text{
  width: 720px;
}

.cer_pic{
  height: 400px;
  overflow: hidden;
}

.contact_pic{
  float: left;
  height: 100px;
  width:120px;
  margin-right: 0px;
  overflow: hidden;
}

.text{
  margin-left: 10px;
}

.list_div{
  clear: both ;
  width:400px ;
  height: 100px;
}

.map_pic{
  clear:both;
  width:400px;
  height: 400px;
}

