.module {
  position: relative;
  width: 1000px;
}

.mid {
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

.font_large {
  font-size: 16pt;
  font-family: "Microsoft YaHei", "MicrosoftJhengHei";
}

.font_normal {
  font-size: 14pt;
  font-family: "Microsoft YaHei", "MicrosoftJhengHei";
}

.font_number {
  font-size: 6pt;
  font-family: "Arial";
}

.font_call {
  font-size: 36pt;
  font-family: "Arial";
  color:#FF4040;
}

#body{

}
/*float start*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.klear {
  clear: both;
}

/*float end*/
/*header started*/
.header {
  height: 86px;
  margin-top: 50px;
  background: #fff;
}

#header div {
  width: 30%;
}

.nav {
  width: 200px;
}

.span {
  margin-right: 12px;
  margin-top: 16px;
}

.span a {
  padding-left: 20px;
  color: #000;
}

.span a:hover {
  color: #d91d1f;
  text-decoration: none;
  background: url(img/general/4.png) no-repeat left center;
}

/*header end*/

/*boarder start*/
.boarder {
  padding: 0px;
  margin: 0px;
  bottom: 0px;
}

/*boarder end*/

/*main start */
#myCarousel{
  height: 600px;
}

#Jin_Dou div {
  width: 50%;
  height: 260px;
}

#board{
  height: 260px;
  padding-top: 5px;
}

/*main end */

/*footer start*/
.footer {
  margin: 0 auto;
  height: 170px;
  text-align: center;
  padding-top: 20px;
}

#footer-top {
  height: 50px;
}

#footer-middle {
  height: 76px;
}

#footer-bottom {
  height: 44px;
  overflow: auto;
}

#ft-left{
  margin-top: 10px;
}
.fb {
  font-size: 44px;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  color: #FF4040;
  background-color: #FF4040;
}

/*footer end*/

/*download app start*/
#download {
  width: 150px;
  height: 126px;
  position: absolute;
  top: 440px;
  left:1440px;
}

#download-con {
  background: #fff;
  border: 1px #ebebeb solid;
  height: 258px;
}

#down-1 {
  text-align: center;
  font-size: 14px;
  color: #302f2f;
  margin-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px #ebebeb solid;
  position: relative;
}

#download-close {
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  position: absolute;
  top: -19px;
  right: 4px;
}

#down-2 {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}

#down-3:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}

* html #down-3 {
  zoom: 1;
}

*:first-child + html #down-3 {
  zoom: 1;
}

#down-l {
  float: left;
  display: inline;
  margin-left: 10px;
  color: #a3a3a3;
}

#down-r {
  float: left;
  display: inline;
  margin-left: 5px;
  color: #a3a3a3;
  border-left: 1px #d1d1d1 solid;
}

#down-l a {
  background: url(../imagesnew/1.png) no-repeat -48px -28px;
  display: block;
  width: 20px;
  height: 23px;
  margin-left: 20px;
}

#down-r a {
  background: url(../imagesnew/1.png) no-repeat -48px 0px;
  display: block;
  width: 20px;
  height: 24px;
  margin-left: 11px;
}

#android {
  margin-left: 8px;
}

#down-l .down-txt {
  margin-top: 5px;
}

#down-r .down-txt {
  margin-top: 5px;
  margin-left: 5px;
}

/*download app end*/

/*download end*/

#weibo {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 27px;
}

#weixin {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 10px;
}

#qq {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 10px;
}

//


