@charset "UTF-8";

// @import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import "helpers/clearfix";

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'STHeiti',"Microsoft YaHei",'Source Sans Pro', sans-serif;
  color: rgb(44, 43, 42);
}

h1, h2, h3, h4{
  font-family: "STHeiti",'Microsoft YaHei','Source Sans Pro', sans-serif;
}

.app__wrapper {
  margin: 0 auto 0 auto;
  width: auto;
  text-align: center;
  height: auto;
}

.content {
  @extend %clearfix;

  margin-bottom: 40px;
}

.angularman {
  width: 33%;
  float: left;
}

.features {
  width: 33%;
  float: left;
  margin: 0;
  padding: 0;

  li {
    font-size: 1.2em;
    line-height: 200%;

    margin: 0;
    list-style: none;
  }
}

a.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;

  color: #ffffff;
  background-color: rgb(196, 22, 28);

  padding: 10px;
  border-radius: 6px;
  text-transform: uppercase;

  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.33;
  text-decoration: none;

  &:hover {
    background-color: lighten(rgb(196, 22, 28), 5%);
  }
}